# 2020 Jakob Meng, <jakobmeng@web.de>
[Unit]
Description=Listen to Power Button for Raspberry Pi

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/rpi-power-button.py

[Install]
WantedBy=multi-user.target
